<!doctype html>
<title>Upload</title>
<style>
  label {
    display: block;
  }

  .imgs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  img {
    width: 100%;
  }
</style>

<h2>Upload</h2>
<form method="POST" enctype='multipart/form-data'>
  <div class="input-group">
    <label for="file">File</label>
    <input type="file" id="file" name="file">
  </div>
  <input type="submit" value="Upload">
</form>

{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %} {{message}} {% endfor %}
</ul>
{% endif %} {% endwith %}

<hr>