* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background: $background;
}

a {
  color: inherit;
}

.w {
  max-width: $wrapper;
  display: block;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}