.box {
  padding: 2em;
  background: white;
  margin-bottom: 2em;
  margin-top: 2em;
  h2.box-title {
    font-size: 2em;
    margin-bottom: 1em;
  }
  @media screen and (max-width: $break-mid) {
    padding: 1em;
    h2.box-title {
      font-size: 1.5em;
    }
  }
}