header {
  background: white;
  padding: 1em 0;
  border-bottom: 1px solid var(--light);
  a {
    color: var(--black);
    text-decoration: none;
    &.brand {
      color: var(--brand);
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  nav a {
    margin-left: 1em;
  }
  &#main .w {
    display: flex;
    justify-content: space-between;
  }
  &#sub {
    border-bottom: 0;
    a {
      margin-right: 1em;
    }
    .explore {
      font-weight: bold;
      cursor: default;
    }
  }
  .toggle-button {
    display: none;
  }
}

@media screen and (max-width: $break-mid) {
  header {
    nav {
      display: none;
    }
    &#sub {
      display: none;
    }
    .toggle-button {
      display: block;
      color: var(--brand);
      text-transform: uppercase;
      font-weight: bold;
      background: white;
      outline: 0;
      border: 0;
      svg {
        margin-left: 0.5em;
      }
    }
  }
}