.hero {
  margin-bottom: 2em;
  margin-top: 2em;
  h1 {
    text-transform: uppercase;
  }
  h2 {
    margin-top: 0.5em;
  }
  p {
    margin-top: 1em;
  }
  @media screen and (max-width: $break-mid) {
    margin-top: 1em;
    margin-bottom: 0;
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1em;
    }
  }
}