%text-listing {
  list-style-type: none;
  li {
    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid $light;
    meta {
      margin-top: 0.5em;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  @media screen and (max-width: $break-mid) {
    li {
      margin-top: 1em;
      padding-bottom: 1em;
    }
  }
}

ul.promises,
ul.updates {
  @extend %text-listing;
}

ul.promises {
  li {
    p {
      margin-top: 0.5em;
    }
    a.btn {
      margin-right: 0;
      display: inline-block;
    }
    a.new {
      margin-left: 1em;
    }
    @media screen and (max-width: $break-mid) {
      a {
        font-size: 0.8em;
      }
    }
  }
}

ul.updates {
  p {
    margin: 1em 0;
  }
  h4 {
    margin: 1em 0;
  }
}
