@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700');

:root {
  --brand: #15AF97;
  --brand-dark: #0A6057;
  --black: #372253;
  --light: #CDDEEE;
  --font: 'IBM Plex Sans', sans-serif;
  --wrapper: 1090px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background: rgb(233, 227, 208);
}

a {
  color: inherit;
}

.w {
  max-width: var(--wrapper);
  display: block;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.box {
  padding: 2em;
  background: white;
  margin-bottom: 2em;
  margin-top: 2em;
}

.box h2.box-title {
  font-size: 2em;
  margin-bottom: 1em;
}

header {
  background: white;
  padding: 1em;
  border-bottom: 1px solid var(--light);
}

header#sub {
  border-bottom: 0;
}

header#main .w {
  display: flex;
  justify-content: space-between;
}

header a {
  color: var(--black);
  text-decoration: none;
}

header a.brand {
  color: var(--brand);
  text-transform: uppercase;
  font-weight: bold;
}

header nav a {
  margin-left: 1em;
}

header#sub a {
  margin-right: 1em;
}

header#sub .explore {
  font-weight: bold;
}

.flashes {
  background: var(--brand-dark);
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flashes span {
  margin-right: 1em;
  display: inline-block;
}

.flashes > * {
  display: inline-block;
}

.flashes .dismiss {
  transition-duration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.jumbotron {
  background: var(--brand);
  margin-bottom: 4em;
}

.jumbotron * {
  color: white;
}

.jumbotron .w {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 2em;
}

.jumbotron .img {
  padding: 2em 3em;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
  url('/static/jumbotron.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .img h2 {
  font-size: 5vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  width: 100%;
}

.jumbotron .meta {
  line-height: 1.5;
  font-size: 1em;
  padding: 2rem 0 2rem;
}

.jumbotron p:not(:last-child),
.jumbotron h2 {
  margin-bottom: 1em;
}

.hero {
  margin-bottom: 2em;
  margin-top: 2em;
}

.hero h1 {
  text-transform: uppercase;
}

.hero h2 {
  margin-top: 0.5em;
}

.hero p {
  margin-top: 1em;
}

.btn,
input[type=submit] {
  background: var(--black);
  color: white;
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}

.btn svg,
input[type=submit] svg {
  margin-right: 0.5em;
  display: inline-block;
}

input[type=submit] {
  padding: 0.8em;
  font-size: 1em;
}

input[type=checkbox] {
  display: inline;
  width: auto;
}

.input-group {
  margin-bottom: 1em;
}

.input-group p {
  display: block;
  margin-top: 0.5em;
  color: red;
  font-size: 0.8em;
  font-style: italic;
}

form span.info {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 1em;
}

form input,
form textarea,
form select {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--light);
  font-size: 1em;
}

.home.users a.more {
  width: 100%;
  color: white;
  background: var(--brand-dark);
  text-align: center;
  padding: 1em;
  font-size: 1em;
  display: block;
  margin-top: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.home.users .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.home.users .grid a {
  text-decoration: none;
  display: block;
  color: inherit;
}

.home.users img {
  width: 100%;
  border: 1px solid var(--light);
}

.home.users h1 {
  font-size: 1.5em;
}

.home.users a h2 {
  font-size: 1em;
}

.home.users h1,
.home.users h2,
.home.users span {
  margin-top: 0.5rem;
  display: block;
}

.avatar-select {
  background: var(--light);
  padding: 1em;
  margin-bottom: 1em;
}

.avatar-select .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

.avatar-select .input-group {
  margin-bottom: 0;
}

footer {
  background: white;
  width: 100%;
  display: block;
  padding: 2em;
  margin-top: 4em;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

footer p {
  margin-top: 1em;
  font-size: 1.1em;
}

footer h2.brand {
  color: var(--brand);
  text-transform: uppercase;
}

footer .donate {
  padding: 1.5em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
}

footer .button {
  background: #9C76CB;
  color: white;
  padding: 1em;
  width: 100%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-top: 2em;
  border-radius: 4em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25)
}

footer .links {
  font-size: 0.8em;
  margin-top: 1rem;
}

footer .links a {
  margin-right: 1em;
  font-style: italic;
}

.officer.hero {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 2em;
}

.officer.hero img {
  width: 100%;
  border: 1px solid var(--light);
}

.officer.hero h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

nav.officer-panes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav.officer-panes a {
  display: block;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(235, 235, 235);
}

nav.officer-panes a.active {
  background: white;
  font-weight: bold;
}

nav.officer-panes ~ .box {
  margin-top: 0;
}

ul.promises {
  list-style-type: none;
}

ul.promises li {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--light);
}

ul.promises li .meta {
  margin-top: 0.5em;
}

ul.promises li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

ul.promises li p {
  margin-top: 0.5em;
}

ul.promises li a.btn {
  margin-right: 0;
  display: inline-block;
}

ul.promises li a.new {
  margin-left: 1em;
}