@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700");
:root {
  --background: #EFDEC3;
  --brand: #15AF97;
  --brand-dark: #0A6057;
  --black: #372253;
  --light: #CDDEEE;
  --font: 'IBM Plex Sans', sans-serif;
  --wrapper: 1090px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background: var(--background);
}

a {
  color: inherit;
}

.w {
  max-width: var(--wrapper);
  display: block;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.box {
  padding: 2em;
  background: white;
  margin-bottom: 2em;
  margin-top: 2em;
}

.box h2.box-title {
  font-size: 2em;
  margin-bottom: 1em;
}

@media screen and (max-width: 900px) {
  .box {
    padding: 1em;
  }
  .box h2.box-title {
    font-size: 1.5em;
  }
}

.flashes {
  background: var(--brand-dark);
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flashes > * {
  display: inline-block;
}

.flashes span {
  margin-right: 1em;
  display: inline-block;
}

.flashes .dismiss {
  transition-duration: none;
  text-transform: uppercase;
  cursor: pointer;
}

header {
  background: white;
  padding: 1em 0;
  border-bottom: 1px solid var(--light);
}

header a {
  color: var(--black);
  text-decoration: none;
}

header a.brand {
  color: var(--brand);
  text-transform: uppercase;
  font-weight: bold;
}

header nav a {
  margin-left: 1em;
}

header#main .w {
  display: flex;
  justify-content: space-between;
}

header#sub {
  border-bottom: 0;
}

header#sub a {
  margin-right: 1em;
}

header#sub .explore {
  font-weight: bold;
  cursor: default;
}

header .toggle-button {
  display: none;
}

@media screen and (max-width: 900px) {
  header nav {
    display: none;
  }
  header#sub {
    display: none;
  }
  header .toggle-button {
    display: block;
    color: var(--brand);
    text-transform: uppercase;
    font-weight: bold;
  }
  header .toggle-button svg {
    margin-left: 0.5em;
  }
}

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background: white;
  border: 1px solid var(--light);
}

.slideout-menu a {
  display: block;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  /* A background-color is required */
  min-height: 100vh;
  background: var(--background);
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

footer {
  background: white;
  width: 100%;
  display: block;
  padding: 2em;
  margin-top: 4em;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

footer p {
  margin-top: 1em;
  font-size: 1.1em;
}

footer h2.brand {
  color: var(--brand);
  text-transform: uppercase;
}

footer .donate {
  padding: 1.5em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

footer .button {
  background: #9C76CB;
  color: white;
  padding: 1em;
  width: 100%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-top: 2em;
  border-radius: 4em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

footer .links {
  font-size: 0.8em;
  margin-top: 1rem;
}

footer .links a {
  margin-right: 1em;
  font-style: italic;
}

@media screen and (max-width: 900px) {
  footer {
    padding: 2em 0;
    margin-top: 2em;
    font-size: 0.75em;
  }
  footer .grid {
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }
  footer .donate {
    padding: 1em;
  }
  footer .links {
    font-size: inherit;
  }
}

.hero {
  margin-bottom: 2em;
  margin-top: 2em;
}

.hero h1 {
  text-transform: uppercase;
}

.hero h2 {
  margin-top: 0.5em;
}

.hero p {
  margin-top: 1em;
}

@media screen and (max-width: 900px) {
  .hero {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .hero h1 {
    font-size: 1.5em;
  }
  .hero h2 {
    font-size: 1.25em;
  }
}

.btn, form input[type=submit] {
  background: var(--black);
  color: white;
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}

.btn svg, form input[type=submit] svg {
  margin-right: 0.5em;
  display: inline-block;
}

form span.info {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 1em;
}

form input,
form textarea,
form select {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--light);
  font-size: 1em;
}

form input[type=checkbox] {
  display: inline;
  width: auto;
}

form input[type=submit] {
  padding: 0.8em;
  font-size: 1em;
}

form .input-group {
  margin-bottom: 1em;
}

form .input-group p {
  display: block;
  margin-top: 0.5em;
  color: red;
  font-size: 0.8em;
  font-style: italic;
}

.avatar-select {
  background: var(--light);
  padding: 1em;
  margin-bottom: 1em;
}

.avatar-select .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

.avatar-select .input-group {
  margin-bottom: 0;
}

.users-list .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.users-list .grid a {
  text-decoration: none;
  display: block;
  color: inherit;
}

.users-list .grid img {
  width: 100%;
  border: 1px solid var(--light);
}

.users-list .grid h1 {
  font-size: 1.5em;
}

.users-list h1,
.users-list h2,
.users-list span {
  margin-top: 0.5rem;
  display: block;
}

.users-list a h2 {
  font-size: 1em;
}

.users-list .not-reg {
  background: var(--light);
  margin-top: 2em;
  padding: 0.75em 1em 1em;
}

.users-list .not-reg h2 {
  margin-bottom: 0.5em;
}

.users-list .not-reg li {
  margin-top: 0.75em;
  margin-left: 1.5em;
}

@media screen and (max-width: 900px) {
  .users-list .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .users-list .grid {
    grid-template-columns: 1fr;
  }
  .users-list .grid a {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 2.5fr;
  }
}

ul.promises,
ul.updates {
  list-style-type: none;
}

ul.promises li,
ul.updates li {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--light);
}

ul.promises li meta,
ul.updates li meta {
  margin-top: 0.5em;
}

ul.promises li:first-child,
ul.updates li:first-child {
  margin-top: 0;
}

ul.promises li:last-child,
ul.updates li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 900px) {
  ul.promises li,
  ul.updates li {
    margin-top: 1em;
    padding-bottom: 1em;
  }
}

ul.promises li p {
  margin-top: 0.5em;
}

ul.promises li a.btn {
  margin-right: 0;
  display: inline-block;
}

ul.promises li a.new {
  margin-left: 1em;
}

@media screen and (max-width: 900px) {
  ul.promises li a {
    font-size: 0.8em;
  }
}

ul.updates p {
  margin: 1em 0;
}

ul.updates h4 {
  margin: 1em 0;
}

.jumbotron {
  background: var(--brand);
  margin-bottom: 4em;
}

.jumbotron * {
  color: white;
}

.jumbotron .w {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 2em;
}

.jumbotron .img {
  padding: 2em 3em;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/static/jumbotron.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .img h2 {
  font-size: 5vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  width: 100%;
}

.jumbotron .meta {
  line-height: 1.5;
  font-size: 1em;
  padding: 2rem 0 2rem;
}

.jumbotron p:not(:last-child),
.jumbotron h2 {
  margin-bottom: 1em;
}

@media screen and (max-width: 900px) {
  .jumbotron {
    margin-bottom: 2em;
  }
  .jumbotron .w {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }
  .jumbotron .img {
    padding: 3em 1em;
    box-sizing: border-box;
  }
  .jumbotron .img h2 {
    font-size: 2em;
  }
  .jumbotron .meta {
    display: none;
  }
}

.home.users-list a.more {
  width: 100%;
  color: white;
  background: var(--brand-dark);
  text-align: center;
  padding: 1em;
  font-size: 1em;
  display: block;
  margin-top: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .home.users-list a.more {
    font-size: 0.75em;
  }
}

.officer.hero {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 2em;
}

.officer.hero img {
  width: 100%;
  border: 1px solid var(--light);
}

.officer.hero h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 900px) {
  .officer.hero {
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
    margin-bottom: 1em;
  }
  .officer.hero h3, .officer.hero a.btn {
    display: none;
  }
}

nav.officer-panes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav.officer-panes a {
  display: block;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  background: #ebebeb;
}

nav.officer-panes a.active {
  background: white;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  nav.officer-panes a {
    font-size: 0.8em;
  }
}

nav.officer-panes ~ .box {
  margin-top: 0;
}

.box.about p {
  line-height: 1.5;
}

.box.about h2, .box.about p {
  margin-bottom: 1em;
}

.box.about .cc {
  padding-top: 0.5em;
}

.api {
  line-height: 1.5em;
}

.api section {
  background: var(--light);
  margin-top: 2em;
  padding: 1em;
}

.api section p {
  margin-bottom: 0;
}

.api section h2 {
  font-family: monospace;
  margin-bottom: 0.25em;
}

.api section a.btn {
  margin-top: 0.5em;
}

.api section a.btn:not(:last-child) {
  margin-bottom: 2em;
}

.api h3 {
  margin-top: 1em;
}

.api h3 code {
  font-family: monospace;
  font-size: 1.2em;
}

.changelog {
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid var(--brand-dark);
}

.changelog ul {
  margin-left: 1.5em;
}
/*# sourceMappingURL=style.css.map */