<!doctype html>
<title>WTF</title>
<style>
  label {
    display: block;
  }
</style>

<h2>WTF</h2>
<form method="POST">
  <div class="input-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>
  <input type="submit">
</form>

<hr> {% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %} {{message}} {% endfor %}
</ul>
{% endif %} {% endwith %}