<footer>
  <div class="w grid">
    <div>
      <h2 class="brand">They Work For GoldSU</h2>
      <p>Making the actions of elected officials at Goldsmiths Students' Union more accessible and transparent.</p>
      <p>This is a project built by <a href="https://twitter.com/_phzn">Kevin Lewis</a> and is not endorsed by Goldsmiths Students' Union.</p>
      <p>Want to make use of this data? <a href="{{url_for('api_docs')}}">Use our API.</a></p>
      <p>Want to contribute? <a href="http://github.com/phazonoverload/theyworkforgoldsu">The code for this project is on GitHub</a>.</p>
      <p>Thanks to <a href="https://www.theyworkforyou.com/">TheyWorkForYou</a> for the inspiration.</p>
    </div>
    <div class="donate">
      <h2>💖🍺✨</h2>
      <p>While this project started as a piece of coursework I spent too much time on, there is ongoing maintenance time and hosting costs. If you want and are able to, I'd really appreciate it if you donate towards these costs.</p>
      <a href="https://paypal.me/phazonoverload" class="button">Buy Kev a beer</a>
    </div>
  </div>
</footer>