{% extends "base.html" %} 

{% block content %}
<div class="w">
  <div class="hero">
    <h1>About They Work For GoldSU</h1>
  </div>
  <div class="box about">
    <h2>They Work For GoldSU is an independent platform makes the actions of elected officials at Goldsmiths Students' Union more accessible and transparent.</h2>
    <p>Historically, Officers of Goldsmiths Students' Union have been asked to provide updates semi-regularly, but these have been inconsistent and hard to find. This platform aims to be the first step in improving this, by giving elected representatives a way to share progress on their promises with the student body.</p>
    <p>This can be used both to highlight achievements made, and to allow students to encourage more actions in areas which matter to them.</p>
    <p>This project is inspired by MySociety's <a href="https://www.theyworkforyou.com/">TheyWorkForYou</a> project, which aims to keep elected MPs accountable. It begun as a piece of coursework for IS52027C: Data, Networks and the Web (2017-18) at Goldsmiths, and is not endorsed by Goldsmiths Students' Union.</p>
    <p>All of the code for this project can be found on <a href="https://github.com/phazonoverload/theyworkforgoldsu">GitHub</a> with a Creative Commons Attribution-ShareAlike 4.0 International License.</p>
    <p>Found issues? Submit an issue on <a href="https://github.com/phazonoverload/theyworkforgoldsu/issues">GitHub</a></p>
  </div>
</div>

{% endblock %}