{% extends "base.html" %}

{% block content %}
  <div class="notice">
    <div class="w">This website is in test mode.</div>
  </div>
  <div class="jumbotron">
    <div class="w">
      <div class="img">
        <h2>Hold your student representatives accountable.</h2>
      </div>
      <div class="meta">
        <h2>Voted in to fight for you. What is done in your name?</h2>
        <p>Goldsmiths Students' Union is spearheaded by elected representatives who represent and support them in all aspects of life at the college. Elected each year, they are voted in based on manifesto promises which they hope to achieve by the end of their term.</p>
        <p>They Work For GoldSU is an independent platform makes the actions of elected officials at Goldsmiths Students' Union more accessible and transparent. Understand their promises and progress by exploring the site.</p>
        <p><b><a href="{{url_for('about')}}">Find out more about They Work For GoldSU</a></b></p>
      </div>
    </div>
  </div>

  <div class="w">
    <ul class="home users-list box">
      <h2 class="box-title">Your full-time sabbatical officers</h2>
      {% include "_user-listing.html" %}
      <a href="{{url_for('people')}}" class="more">See part time officers and media managers</a>
    </ul>
  </div>

{% endblock %}