{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="w">
      <div class="img">
        <h2>Hold your student representatives accountable.</h2>
      </div>
      <div class="meta">
        <h2>Voted in to fight for you. What is done in your name?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur, mollitia, debitis vero culpa quasi ut distinctio
          iusto, ipsa iure saepe atque odit. Culpa, eligendi qui. Fugiat doloribus aut provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur, mollitia, debitis vero culpa quasi ut distinctio
          iusto, ipsa iure saepe atque odit. Culpa, eligendi qui. Fugiat doloribus aut provident.</p>
        <p><b><a href="{{url_for('about')}}">Find out more about They Work For GoldSU</a></b></p>
      </div>
    </div>
  </div>

  <div class="w">
    <ul class="users home box">
      <h2 class="box-title">Your full-time sabbatical officers</h2>
      <div class="grid">
        {% for user in users %}
          <a href="{{url_for('officer', role=user.role.value)}}">
            {% if user.twitter %}
              <img src="https://avatars.io/twitter/{{user.twitter}}" alt="Twitter avatar for {{user.name}}">
            {% elif user.facebook %}
              <img src="https://avatars.io/facebook/{{user.facebook}}" alt="Facbeook profile picture for {{user.name}}">
            {% else %}
              <img src="https://avatars.io/twitter" alt="Generic avatar">
            {% endif %}
            <h1>{{user.name}}</h1>
            <h2>{{user.role.label}}</h2>
            <span>{{user.promises.count()}} Promises</span>
          </a>
        {% endfor %}
      </div>
      <a href="{{url_for('people')}}" class="more">See all elected officers</a>
    </ul>
  </div>

{% endblock %}