{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="w">
      <div class="img">
        <h2>Hold your student representatives accountable.</h2>
      </div>
      <div class="meta">
        <h2>Voted in to fight for you. What is done in your name?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur, mollitia, debitis vero culpa quasi ut distinctio
          iusto, ipsa iure saepe atque odit. Culpa, eligendi qui. Fugiat doloribus aut provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur, mollitia, debitis vero culpa quasi ut distinctio
          iusto, ipsa iure saepe atque odit. Culpa, eligendi qui. Fugiat doloribus aut provident.</p>
        <p><b><a href="{{url_for('about')}}">Find out more about They Work For GoldSU</a></b></p>
      </div>
    </div>
  </div>

  <div class="w">
    <ul class="users home box">
      <h2 class="box-title">Your full-time sabbatical officers</h2>
      {% include "_user-listing.html" %}
      <a href="{{url_for('people')}}" class="more">See {{pt_count}} part time officers and media managers</a>
    </ul>
  </div>

{% endblock %}