{% extends "base.html" %} {% block content %}

<div class="w">

<div class="hero">
  <h1>All elected representatives</h1>
  <h2>Our Students' Union has {{ft_count}} full-time paid sabbatical officers and {{pt_count}} part-time officers and media managers.</h2>
  <p>While every person was elected into their role based on their merits and manifesto promises and should be kept accountable, remember that part-time officers and managers are volunteering their time and are current students.</p>
</div>

<ul class="users home box">
  <div class="grid">
     {% for user in users %}
      <a href="{{url_for('officer', role=user.role.value)}}">
        <img src="https://avatars.io/twitter/{{user.twitter}}" alt="Twitter avatar for {{user.name}}">
        <h1>{{user.name}}</h1>
        <h2>{{user.role.label}}</h2>
        <span>{{user.promises.count()}} Promises</span>
      </a>
    {% endfor %}
  </div>
</ul>
</div>

{% endblock %}