{% extends "base.html" %} 

{% block content %}
<div class="w">
  {% include "_officer_top.html" %}
  <nav class="officer-panes">
    <a href="{{url_for('officer', role=user.role.value)}}">Promises ({{user.role.promises.count()}})</a>
    <a href="" class="active">Updates ({{user.updates.count()}})</a>
  </nav>
  <div class="box">
    <ul class="updates">
      {% for update in updates|sort(attribute='datetime', reverse=true) %} {% include "_update.html" %} {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}