{% extends "base.html" %} 

{% block content %}
  <div class="w">
    <div class="hero">
      <h1>{{promise.title}}</h1>
      <h2>A manifesto promise by {{promise.role.users.first().name}}, your {{promise.role.label}}</h2>
      <p>{{promise.body}}</p>
      {% if promise.role.users.first() == current_user %}
        <a href="{{url_for('update_promise', id=promise.id)}}" class="btn">Provide an update to your members</a>
      {% endif %}
    </div>
    <div class="box">
      <ul class="updates">
        {% for update in promise.updates|sort(attribute='datetime', reverse=true) %} {% include "_update.html" %} {% endfor %}
        {% if promise.updates.count() == 0 %}
          <p>This officer hasn't provided an update for this promise yet.</p>
          <a href="mailto:{{promise.role.users.first().email}}" class="email btn"><i class="fas fa-envelope"></i>Email and ask why</a>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}