{% extends "base.html" %} 

{% block content %}

<div class="w">
  <div class="hero">
    <h1>All updates made from all officers</h1>
  </div>
  <div class="box">
    <ul class="updates all">
      {% if updates|length == 0 %}
        <p>There have been no updates to campaign promises by elected representatives.</p>
      {% else %}
        {% for update in updates|sort(attribute='datetime', reverse=true) %} 
          {% include "_update.html" %} 
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}