{% extends "base.html" %} 

{% block content %}
<div class="w">
  <div class="hero">
    <h1>{{promise.title}}</h1>
    <h2>{{promise.body}}</h2>
  </div>

  <form class="box" action="" method="POST">
    {{form.hidden_tag()}}
    <div class="input-group">
      {{form.body.label}} {{form.body()}} {% for error in form.body.errors %}
      <p>{{error}}</p>
      {% endfor %}
    </div>
    <div class="input-group">
      {{form.personal.label}} {{form.personal()}} {% for error in form.personal.errors %}
      <p>{{error}}</p>
      {% endfor %}
    </div>
    {{form.submit()}}
  </form>
</div>

{% endblock %}