{% extends "base.html" %} {% block content %}

<div class="w">

<div class="hero">
  <h1>All elected representatives</h1>
  <p>While every person was elected into their role based on their merits and manifesto promises and should be kept accountable, remember that part-time officers and managers are volunteering their time and are current students.</p>
</div>

<ul class="users users-list box">
  {% include "_user-listing.html" %}
  {% if roles|length != users|length %}
    <div class="not-reg">
      <h2>Not yet registered</h2>
      <p>People in all of the following roles have been invited to register for an account but have not yet done so:</p>
      <ul>
        {% for role in roles %} {% if not role.users[0] %}
        <li>{{role.label}}</li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  {% endif %}
</ul>

</div>

{% endblock %}