{% extends "base.html" %} 

{% block content %}
<div class="w">
  {% include "_officer_top.html" %}
  <nav class="officer-panes">
    <a href="{{url_for('officer', role=user.role.value)}}">Promises ({{user.role.promises.count()}})</a>
    <a href="" class="active">Updates ({{user.updates.count()}})</a>
  </nav>
  <div class="box">
    <ul class="updates">
      {% for update in updates|sort(attribute='datetime', reverse=true) %} {% include "_update.html" %} {% endfor %}
      {% if user.updates.count() == 0 %}
        <p>This officer hasn't provided an update yet.</p>
        <a href="mailto:{{user.email}}" class="email btn"><i class="fas fa-envelope"></i>Email and ask why</a>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}